{% extends '::base.html.twig' %}

{% block body %}
    <div class="row row-lg-mb">
        <div class="col-lg-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Wyszukaj osoby</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="wpisz imię i nazwisko osoby">
                </div>
                <button type="submit" class="btn btn-default">{{ icon('search') }} Szukaj</button>
            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Wyszukaj tagi</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="wpisz tag">
                </div>
                <button type="submit" class="btn btn-default">{{ icon('search') }} Szukaj</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% for user in users %}
        <div class="col-lg-12">
            <div class="row row-lg-mb">
                <div class="col-lg-3">
                    <img src="http://lorempixel.com/100/100" class="img-rounded">
                </div>
                <div class="col-lg-6">
                    <h3><a href="{{ path('biojam_users_show', {'id': user.id}) }}">{{ user }}</a></h3>
                    <p>{% for tag in user.tags %}{{ tag }}, {% endfor %}</p>
                </div>
                <div class="col-lg-3">
                    {#73%#}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
