{% extends '::base.html.twig' %}

{% block body %}
    <div class="row row-lg-mb">
        <div class="col-lg-12">
            <a href="{{ path('biojam_users_index') }}" class="btn btn-default">{{ icon('arrow-left') }} Powrót</a>
        </div>
    </div>
    <div class="row row-lg-mb">
        <div class="col-lg-2">
            <img src="http://lorempixel.com/200/200" class="img-rounded img-responsive">
        </div>
        <div class="col-lg-10">
            <h3>{{ user }}</h3>
            <p>{% for tag in user.tags %}{{ tag }}, {% endfor %}</p>
            <p>Dłuższy opis profilu wybranej osoby</p>
        </div>
        <div class="col-lg-10 col-lg-offset-2">
            <a href="#" class="btn btn-primary">Wyślij zaproszenie do rozmowy</a>
        </div>
    </div>
{% endblock %}
